.hover-shadow.svelte-u4k2t{transition:transform .2s,box-shadow .2s}.hover-shadow.svelte-u4k2t:hover{transform:translateY(-6px);box-shadow:0 20px 40px #0000001f!important}.transition-all.svelte-u4k2t{transition:all .3s ease}
